<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Library
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"  style="background-color: #f6dddb;"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>
  
  
  <div class="container" >
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel" style="background-color: rgba(255, 255, 255, 0.459);">
  
          <div class="panel-body" >
            <div class="card fade-in"  style="text-align: center;">
              <img src="assets/images/q1.jpg"  alt="..." data-mdb-toggle="animation" class="animate" style="width:30rem;">
            </div><br><br>
   
            <div class="card">
              <img src="assets/images/q3.jpg"  alt="..." style="float: right;width:30rem;"><br>
            </div><br>
  
            <div class="card" >
              <img src="assets/images/q2.jpg"  alt="..." style="width:30rem;">
            </div><br><br>
  
            <div class="card" >
              <img src="assets/images/q4.jpg"  alt="..." style="float: right;width:30rem;">
            </div><br><br>
  
            <div class="card" >
              <img src="assets/images/q5.jpg"  alt="..." style="width:30rem;">
            </div><br><br>
  
            <div class="card"   style="text-align: center;">
              <img src="assets/images/q6.jpg"  alt="..."  style="width:30rem;">
            </div><br><br>
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>